<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.web.albajob.persistence.LocationMapper">

	<resultMap type="com.web.albajob.dimain.CityVO" id="cityResultMap">
		<id property="cityId" column="CITY_ID" />
		<result property="cityName" column="CITY_NAME" />
	</resultMap>
	
	<resultMap type="com.web.albajob.dimain.TownVO" id="townResultMap">
		<id property="cityId" column="CITY_ID" />
		<result property="townId" column="TOWN_ID" />
		<result property="townName" column="TOWN_NAME" />
	</resultMap>
	
	<resultMap type="com.web.albajob.dimain.VillageVO" id="villageResultMap">
		<id property="townId" column="TOWN_ID" />
		<result property="villageId" column="VILLAGE_ID" />
		<result property="villageName" column="VILLAGE_NAME" />
	</resultMap>
	
	<select id="selectCity" resultMap="cityResultMap">
		SELECT * FROM CITY
	</select>
	
	<select id="selectTown" resultMap="townResultMap">
		SELECT * FROM TOWN
		WHERE CITY_ID = #{cityId}
	</select>
	
	<select id="selectVillage" resultMap="villageResultMap">
		SELECT * FROM VILLAGE
		WHERE TOWN_ID = #{townId}
	</select>

	
</mapper>