<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.web.albajob.persistence.MemberMapper">

	<resultMap type="com.web.albajob.domain.MemberVO"
		id="memberResultMap">
		<id property="userId" column="USER_ID" />
		<result property="userName" column="USER_NAME" />
		<result property="userPassword" column="USER_PASSWORD" />
		<result property="userPhone" column="USER_PHONE" />
		<result property="userMail" column="USER_MAIL" />
		<result property="path" column="PATH" />
	</resultMap>

	<!-- INSERT 문 AUTO INCREMENT 해야함 -->
	<insert id="insertMember"
		parameterType="com.web.albajob.domain.MemberVO">
		INSERT INTO Member (USER_NAME, USER_PASSWORD, USER_PHONE, USER_MAIL, PATH)
		VALUES (#{userName}, #{userPassword}, #{userPhone}, #{userMail},
		#{path})
	</insert>

	<!-- UPDATE 문 -->
	<update id="updateMember"
		parameterType="com.web.albajob.domain.MemberVO">
		UPDATE Member
		SET
		USER_NAME = #{userName},
		USER_PASSWORD = #{userPassword},
		USER_PHONE = #{userPhone},
		USER_MAIL = #{userMail},
		PATH = #{path}
		WHERE USER_ID = #{userId}
	</update>

	<!-- DELETE 문 -->
	<delete id="deleteMember" parameterType="string">
		DELETE FROM Members WHERE USER_ID = #{userId}
	</delete>

	<select id="findUserNameByPhone" parameterType="int"
		resultType="string">
		SELECT USER_NAME
		FROM Member
		WHERE USER_PHONE = #{userPhone}
	</select>
	
	<select id="findUserNameByMail" parameterType="string"
		resultType="string">
		SELECT USER_NAME
		FROM Member
		WHERE USER_MAIL = #{userMail}
	</select>
	
	<select id="findUserPW" parameterType="int"
		resultType="string">
		SELECT USER_PASSWORD
		FROM Member
		WHERE USER_NAME = #{userName}
	</select>
	
	<select id="memberCheck" resultMap="memberResultMap">
		SELECT USER_PASSWORD,
		USER_NAME FROM Member WHERE USER_NAME = #{userName}
	</select>
	
	<!-- userName로 회원 정보 전부 가져오기 (우제영 제작) -->
	<select id="selectByResume" resultMap="memberResultMap">
		SELECT * FROM Member
		WHERE USER_NAME = #{userName}
	</select>

</mapper>